@model RahatWebApplication.ViewModels.ItemViewModel

<header id="header-nav" role="banner">
    <div id="navbar" class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="~/Images/base/logo.png" style="height: 26px" /> <span>MY THEME</span>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-admin flot-nav">
                <li><a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out color-red"></i> Sign out</a></li>
            </ul>
        </div>
    </div>
</header>
<br />
<br />
<br />
<br />

@using (@Html.BeginForm("CreateItem", "Item", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                <div class="text-center">
                    <h1>
                        <i class="fa fa-user small-icons bk-color-black"></i>Add Item
                    </h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="well well-sm sitefont">
                @Html.HiddenFor(m => m.Item.Id)
                @Html.HiddenFor(m => m.Item.Photo)
                @Html.ValidationSummary(true)
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-left">
                            @Html.Label("Select Photo")
                            @Html.TextBoxFor(m => m.Item.ImageUpload, new { @type = "file", @id = "itemimg", accept = "image/*" })
                            @Html.ValidationMessageFor(m=>m.Item.ImageUpload, "", new { @class = "color-red" })
                            <br />
                        </div>

                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-left">
                            @Html.LabelFor(m => m.Item.Name)
                            @Html.TextBoxFor(m => m.Item.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Item.Name, "", new { @class = "color-red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
                        <div class="text-left">
                            @Html.LabelFor(m => m.Item.Price)
                            @Html.TextBoxFor(m => m.Item.Price, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Item.Price, "", new { @class = "color-red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
                        <div class="text-left">
                            @Html.LabelFor(m => m.Item.Category)
                            @Html.TextBoxFor(m => m.Item.Category, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
                        <div class="text-left">
                            @Html.LabelFor(m => m.Item.Discount)
                            @Html.TextBoxFor(m => m.Item.Discount, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
                        <div class="text-left" required>
                            @Html.LabelFor(m => m.Item.Description)
                            @Html.TextAreaFor(m => m.Item.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Item.Description, "", new { @class = "color-red" })
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-info" style="margin-top: 17px">Save</button>
                            <a href="@Url.Content("Index")" class="btn btn-warning" style="margin-top: 17px">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
