@model RahatWebApplication.ViewModels.ItemViewModel

<header id="header-nav" role="banner">
    <div id="navbar" class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <i id="logo" class="fa fa-certificate"></i> Luqman Traders
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-admin flot-nav">
                <li><a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out color-red"></i> Sign out</a></li>
            </ul>
        </div>
    </div>
</header>
<br />
<br />
<br />

<section class="carousel">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
            <div class="text-center">
                @{
                    if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>@TempData["Message"]
                        </div>
                    }
                }
                <h1>
                    <i class="fa fa-star small-icons bk-color-black"></i>Products
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="well well-sm sitefont">
            <div class="row">
                <div class="col-md-3" style="margin-left: 10px">
                    <input id="tableSearch" type="text" name="search" class="form-control sitefont" placeholder="Enter text to search" />
                    <i class="glyphicon glyphicon-search iconright"></i>
                </div>
                <div class="text-right" style="margin-right: 25px"><a href="@Url.Action("CreateItem","Item")" class="btn btn-primary margintop-96"><i class="fa fa-plus"></i> Add</a></div>
            </div>

            <div class="items">
                <div class="item title">
                    <table id='items' class="table table-hover table-responsive dataTable dt-responsive">
                        <thead>
                            <tr>

                                <th>
                                    <strong>Image</strong>
                                </th>
                                <th>
                                    <strong>Name</strong>
                                </th>
                                <th>
                                    <strong>Price</strong>
                                </th>
                                @*<th>
                                        <strong>Category</strong>
                                    </th>
                                    <th>
                                        <strong>Discount</strong>
                                    </th>*@

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>

                                    <td><img src="@Url.Content(item.Photo)" class="img-circle img-thumbnail" style="width: 35px; height: 35px" /></td>
                                    <td>@Html.DisplayFor(m => item.Name)</td>
                                    <td>@Html.DisplayFor(m => item.Price)</td>
                                    @*<td>@Html.DisplayFor(m => item.Category)</td>
                                        <td>@Html.DisplayFor(m => item.Discount)</td>*@
                                    <td class="text-right">
                                        <a title="Edit" href="@Url.Action("EditItem","Item",new { id = item.Id })" class="btn btn-success"><i class="fa fa-edit"></i></a>
                                        <a title="Delete" href="@Url.Action("DeleteItem","Item",new { id = item.Id })" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">

        user = $("#items").DataTable({

            //pagination of datatable
            'paging': true,
            //Hiding datatable UI
            'sDom': ''
        });

        $("#tableSearch").keyup(function () {
            //Clientside searching
            var input = $('#tableSearch').val();
            var table = $('#items').DataTable();
            table.columns().every(function () {
                var searchinput = input;
                if (searchinput.search() !== this.value) {
                    table.search(input);
                    table.draw();
                }
            });
        }).keyup();

    </script>
}
