@model RahatWebApplication.ViewModels.ItemViewModel
<!--NAV SECTION -->
<header id="header-nav" role="banner">
    <div id="navbar" class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <i id="logo" class="fa fa-certificate"></i> Luqman Traders
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav flot-nav">
                <li><a href="#slide-head"><i class="fa fa-home color-red"></i> Home</a></li>
                <li><a href="#about-section"><i class="fa fa-male color-brown"></i> About Us</a></li>
                <li><a href="#portfolio-section"><i class="fa fa-star color-light-blue"></i> Products</a></li>
                <li><a href="#services-section"><i class="fa fa-check color-green"></i> Services</a></li>
                <li><a href="#contact-section"><i class="fa fa-tint"></i> Contact</a></li>
            </ul>
        </div>
    </div>
</header>
<!--END NAV SECTION -->
<!--SLIDE CAROUSEL SECTION -->
<section id="slide-head" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>We are professionals</h1>
                    <p class="lead">
                        To be the world's best manufacturer & seller of steel furniture.<br>
                        <a href="#portfolio-section" class="btn btn-success btn-lg margin-top-20">See This Awesome</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- ./ first active div-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Grap Now or Never</h1>
                    <p class="lead">
                        See our product and services, and grab the product right now.<br>
                        <a href="#contact-section" class="btn btn-primary btn-lg margin-top-20">Contact us</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- ./ Second div-->
    </div>
    <a class="prev" href="#slide-head" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="next" href="#slide-head" data-slide="next"><i class="fa fa-angle-right"></i></a>
</section>
<!--END SLIDE CAROUSEL SECTION -->

<!--ABOUT SECTION -->
<section id="about-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">
                <div class="text-center">
                    <h1><i class="fa fa-users small-icons bk-color-brown"></i>Meet Team</h1>
                    <p class="lead text-left" style="font-size: 17px">
                        LUQMAN TRADERS one of the prestigious and renowned Trading Company in Pakistan. Founded in 1988 as a family bussiness,
                        and registered as a professional company in 1999. Since then we have developed a reputation for excellent service and a depth of seating-comfort knowledge that just can’t be surpassed.
                        Over the years we’ve got to know what makes a good chair and have worked closely with designers and upholsterers to supply what
                        you will find to be the largest range of chairs in Pakistan. Under the Supervision of Mr. Ahsan malik,
                        The Proprietor of the firm, The Company is in action and being known as one of the top class Trading Company in the region from last decade.
                        LUQMAN TRADERS is busy in entertaining and satisfying their customers by doing there jobs in highly professional manners. 
                        Behind the whole success of LUQMAN TRADERS there is great support of LUCKY STEEL WORKS(since 1990) and RAHAT & CO.(since 2014) as they make us able to get this success by designing and manufacturing desired products to serve the customers. 
                        <br/>
                        <strong>Sole Distributors:</strong>
                        LUQMAN TRADERS has good business relation with the out of city supplier and these relation have been strengthen by signing the contracts with the suppliers
                        as their SOLE AGENTS for the territory of Pakistan,
                        This act helped both buyer and seller to work together as a combined unit for the prosperity of a mutual beneficial trade.
                    </p>
                </div>

            </div>
            <!-- ./ Heading div-->
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100  ">
                <div class="col-md-3 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.4s">
                    <div class="text-center">
                        <p>
                            <img class="img-responsive img-thumbnail img-circle" src="~/Images/team/team1.png" alt="" />
                        </p>
                        <h3>Rahat Malik</h3>
                        <p>
                            Company Founder
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.4s">
                    <div class="text-center">
                        <p>
                            <img class="img-responsive img-thumbnail img-circle" src="~/Images/team/team2.jpg" alt="" />
                        </p>
                        <h3>Ahsan Malik</h3>
                        <p>
                            Chairman
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6" data-scrollreveal="enter top and move 100px, wait 0.4s">
                    <div class="text-center">
                        <p>
                            <img class="img-responsive img-thumbnail img-circle" src="~/Images/team/team1.png" alt="" />
                        </p>
                        <h3>Malik Khalid</h3>
                        <p>
                            Sales Manager
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.4s">
                    <div class="text-center">
                        <p>
                            <img class="img-responsive img-thumbnail img-circle" src="~/Images/team/team2.jpg" alt="" />
                        </p>
                        <h3>Numan Malik</h3>
                        <p>
                            Sales Assistant
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./ Content div-->
        </div>
    </div>
</section>
<!--END ABOUT SECTION -->
<!--PORTFOLIO SECTION -->
<section id="portfolio-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                <div class="text-center">
                    <h1>
                        <i class="fa fa-star-o small-icons bk-color-light-blue"></i>Products
                    </h1>
                    <p class="lead">
                        These are the products available for our customers, get your deal now. We are not limited to only these products,
                        We can provide products, according to your desire.
                    </p>
                </div>
            </div>
            <!-- ./ Heading div-->

            <div class="col-md-10 col-md-offset-1 col-sm-offset-1 col-sm-10 col-xs-10 col-xs-offset-1" data-scrollreveal="enter right and move 100px, wait 0.4s">
                <ul class="portfolio-items">

                    @foreach (var item in Model.Items)
                    {
                        <li class="portfolio-item ">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="@Url.Content(item.Photo)" alt="Loading Image" style="width: 240px; height: 245px" />
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="@item.Description" href="@Url.Content(item.Photo)" rel="prettyPhoto[gallery1]"><i class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <!-- ./ Content div-->
        </div>
    </div>
</section>
<!--PORTFOLIO SECTION -->
<!--SERVICES SECTION -->
<section id="services-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                <div class="text-center">
                    <h1><i class="fa fa-check small-icons bk-color-green"></i>Services</h1>
                    <p class="lead">
                        We provide these following services to our customers, with good will, but not limited to.
                    </p>
                </div>
            </div>
            <!-- ./ Heading div-->
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">

                <div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.4s">
                    <div class="text-center">
                        <i class="fa fa-comments icon-round bk-color-black"></i>
                        <h4>12x6 Support</h4>
                        <p>
                            We are available 12 hours in a day, and 6 days in a week. You can <a href="#contact-section">Contact Us</a> anytime to get the deal.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.4s">
                    <div class="text-center">
                        <i class="fa fa-bolt icon-round bk-color-red"></i>
                        <h4>Changes and Cancellations</h4>
                        <p>
                            Cancellations can be made any time prior to the shipment of your order. To make any changes we would need to cancel the original order and place a new order for the updated product(s).
                        </p>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.4s">
                    <div class="text-center">
                        <i class="fa fa-desktop icon-round bk-color-light-blue"></i>
                        <h4>Quality work</h4>
                        <p>
                            We asure the quality of products to our customers. You can buy furniture from us with confidence..
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./ Content div-->
        </div>
    </div>
</section>
<!--END SERVICES SECTION -->
<!--Contact section-->
<section id="contact-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                <div class="text-center">
                    <h1>
                        <i class="fa fa-tint small-icons bk-color-black"></i>Contact us Now
                    </h1>
                    <p class="lead">
                        Contact us now, we will respond you within an hour.
                    </p>
                </div>
            </div>
            <!-- ./ Heading div-->
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  margin-top-20">
                <div class="col-md-6 col-sm-12" data-scrollreveal="enter left and move 100px, wait 0.4s">
                    <h3>
                        <i class="fa fa-pencil small-icons bk-color-light-blue"></i>Send Us Your Query
                    </h3>
                    <hr />
                    @using (Html.BeginForm("SendEmail", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                    <div class="row">
                        <div class="col-md-5 col-sm-5 margin-5">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.MailModel.Name, new { @class = "form-control", required = "required", placeholder = "Name" })
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-5 margin-5">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.MailModel.From, new { @class = "form-control", type = "email", required = "required", placeholder = "Email Address" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.MailModel.Body, new { @class = "form-control", required = "required", placeholder = "Message" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Submit Query</button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <div class="col-md-4 col-sm-12" data-scrollreveal="enter right and move 100px, wait 0.4s">
                    <div class="col-md-12 col-sm-6">
                        <h3>
                            <i class="fa fa-comments small-icons bk-color-red"></i>Reach Us Here
                        </h3>
                        <hr />
                        17- Mcleod road behind ashraf plaza Lahore.<br />
                        Phone: 042-37357593<br />
                        Mobile: 0305-4519798<br />
                        Email: luqmantradersofficial@gmail.com<br />
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <h3>
                            <i class="fa fa-plus small-icons bk-color-green"></i>Social Presence
                        </h3>
                        <a href="https://www.facebook.com/LuqmanTraders1999/"><i class="fa fa-facebook fa-3x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus fa-3x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-3x color-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./ Content div-->
        </div>

        <div class="map fa fa-border" style="width: 100%; height: 60%">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d849.8725256241456!2d74.31909418835274!3d31.565605432176234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb0b26eabf577405c!2sLuqman+Traders!5e0!3m2!1sen!2s!4v1481610461629" width="100%" height="250" frameborder="0" style="border: 0" allowfullscreen></iframe>
        </div>
        
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        $(".navbar-collapse > ul > li > a").on('click', function () {
            if (window.innerWidth < 480) {
                $('.navbar-collapse').collapse('toggle');
            }
        });
    </script>
}
